<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="component1">
        <div class="component2">
           <form [formGroup]="Forms">
            <div>
                <input class="input1" id="ID" placeholder="ID" type="number" for="ID" formControlName="ID" >
                <input class="input1" id="nome" placeholder="Nome" type="string" for="nome" formControlName="nome" >
                <textarea class="input2" id="descricao" placeholder="Descrição" for="descricao" formControlName="descricao"></textarea>
                <input class="input1" id="preco" placeholder="preço" type="number" for="preco" formControlName="preco">
                <input class="input1" id="quantidade" placeholder="Quantidade" type="number" for="quantidade" formControlName="quantidade">
                <div class="d-grid gap-2" *ngIf="Array2.length == 5">
                    <button class="btn btn-primary" type="button" id="button" (click)="botao()">Salvar</button>
                
                  </div>

                <div id="component3" [ngClass]="{'transition' : togglar , 'transition2': !togglar}">
                    <i class="bi bi-x-circle button2" (click)="fechar()" ></i>
                    @for (alert of alerts; track alert) {
                        <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
                    }
                    <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>

                </div>
            
            </div>
        
        
        </form>
            
        </div>
    </div>
    
</body>
</html>